
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
 overflow: hidden;
 overflow-x: hidden;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: #fff;
  color: #fff;
  overflow: hidden;
  overflow-x: hidden;
}


.login-box {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 340px;
  padding: 19px;
  transform: translate(-50%, -50%);
  background: #61157c;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 105px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  
  letter-spacing: 4px
}

.login-box a:hover {
  background: #a607c9;
  color: #fff;
  border-radius: 15px;
  
}

.login-box a span {
  position: absolute;
  display: block;
}


@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ce009a);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

footer {
  background-color: #61157c;
  color: #fff;
  font-size: 18px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 5px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}


.navbar-custom {
  background-color: #61157c;
}

.dropdown-item{
display: block;
width: 100%;
padding: .25rem 4.5rem;
clear: both;
font-weight: 400;
color: #212529;
text-align: inherit;
white-space: nowrap;
background-color: #fff;
border: 0;
border-radius: 15px;
}

dl, ol, ul {
  margin-top: 3px;
}



.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #a400af;
    border-color:  #a400af;
}


.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .675rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-outline-warning {
    color: #ffffff;
    border-color: #ffffff;
}


.button {
  background: #61157c;
  color: #fff;
  height: 50px;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 40px;
  font: 1.05rem/1 poppins;
  border: none;
}

.button2 {
  background: #61157c;
  color: #fff;
  height: 50px;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 40px;
  font: 1.05rem/1 poppins;
  border: none;
}

.button3 {
  background: #61157c;
  color: #fff;
  height: 50px;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 40px;
  font: 1.05rem/1 poppins;
  border: none;
}

.button4 {
  background: #61157c;
  color: #fff;
  height: 50px;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 40px;
  font: 1.05rem/1 poppins;
  border: none;
}

.modal-body{
  align-items: center;
  color: #000000;
}


